<CHD_DINER>
	<MenuItem>
		<Item>Sandwich</Item>
		<Menu>0</Menu>
		<Price>1.13</Price>
	</MenuItem>
	<MenuItem>	
		<Item>Burrito</Item>
		<Menu>0</Menu>
		<Price>3.46</Price>
	</MenuItem>
	<MenuItem>
		<Item>Lasagna</Item>
		<Menu>0</Menu>
		<Price>1.43</Price>
	</MenuItem>
	<MenuItem>
		<Item>Pizza</Item>
		<Menu>0</Menu>
		<Price>1.29</Price>
	</MenuItem>
	<MenuItem>
		<Item>Sausage</Item>
		<Menu>1</Menu>
		<Price>0.99</Price>
	</MenuItem>
	<MenuItem>
		<Item>Onion Rings</Item>
		<Menu>1</Menu>
		<Price>1.39</Price>
	</MenuItem>
	<MenuItem>
		<Item>Pancake</Item>
		<Menu>1</Menu>
		<Price>1.19</Price>
	</MenuItem>
	<MenuItem>
		<Item>Sprite</Item>
		<Menu>2</Menu>
		<Price>0.26</Price>
	</MenuItem>
	<MenuItem>
		<Item>Dr. Pepper</Item>
		<Menu>2</Menu>
		<Price>0.19</Price>
	</MenuItem>
	<MenuItem>
		<Item>Root Beer</Item>
		<Menu>2</Menu>
		<Price>1.29</Price>
	</MenuItem>
	<MenuItem>
		<Item>Tea</Item>
		<Menu>2</Menu>
		<Price>1.49</Price>
	</MenuItem>
	<MenuItem>
		<Item>Lemonade</Item>
		<Menu>2</Menu>
		<Price>1.89</Price>
	</MenuItem>
	<MenuItem>
		<Item>Diet Coke</Item>
		<Menu>2</Menu>
		<Price>1.21</Price>
	</MenuItem>
	<MenuItem>
		<Item>Cookies</Item>
		<Menu>3</Menu>
		<Price>0.38</Price>
	</MenuItem>
	<MenuItem>
		<Item>Sundae</Item>
		<Menu>3</Menu>
		<Price>0.43</Price>
	</MenuItem>
	<MenuItem>
		<Item>Ice Cream</Item>
		<Menu>3</Menu>
		<Price>0.28</Price>
	</MenuItem>
	<MenuItem>
		<Item>Cheesecake</Item>
		<Menu>3</Menu>
		<Price>1.54</Price>
	</MenuItem>
	<MenuItem>
		<Item>Strudel</Item>
		<Menu>3</Menu>
		<Price>1.36</Price>
	</MenuItem>
</CHD_DINER>